body, html {
	font: Normal 11px Arial, Verdana;
	color: #333;
}

.clear {
	clear: both;
	line-height: 1px;
	height: 1px;
}

#container {
	border: 1px solid #ccc;
	background: #F4F4F4;
	padding: 15px;
	width:700px;
	margin-bottom: 20px;
	
}

.columnRight {
	position: relative;
	top: -7px;
	float: right;
	width: 250px;
}

fieldset {
	border: 1px Solid #CCC;
	padding: 6px 12px;
	margin: 0 0 12px 0;
}

legend {
	color: #084B8A;
	font-weight: bold;
}

table {
	border: 1px solid #ccc;
	border-collapse:collapse;
}

th {
	font-weight: bold;
	padding: 4px;
	color: #666;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: url("img/headingbg.png") repeat scroll left -10px #EEEEEE;
}

tfoot th {
	border-top: 0px solid #ccc;
}

td {
	background: #fbfbfb;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 4px;
}

td:hover {
	color: #06C;
}

.tableSelect {
	float: left;
	width: 435px;
}
